---
import Profile from "~components/Profile.astro";
import Layout from "~layouts/Layout.astro";
---

<Layout>
  <div class="max-w-2xl mx-auto grid place-items-center py-12">
    <Profile />
  </div>
</Layout>