@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-family-sans: IBM Plex Sans JP, sans-serif;
	--font-family-mono: IBM Plex Mono, IBM Plex Sans JP, monospace;

	--color-editor-focusBorder: #8839ef;
	--color-editor-foreground: #4c4f69;
	--color-editor-disabledForeground: #6c6f85;
	--color-editor-widget-shadow: #e6e9ef80;
	--color-editor-selection-background: #8839ef66;
	--color-editor-descriptionForeground: #4c4f69;
	--color-editor-errorForeground: #d20f39;
	--color-editor-icon-foreground: #8839ef;
	--color-editor-sash-hoverBorder: #8839ef;
	--color-editor-window-activeBorder: #00000000;
	--color-editor-window-inactiveBorder: #00000000;
	--color-editor-textBlockQuote-background: #e6e9ef;
	--color-editor-textBlockQuote-border: #dce0e8;
	--color-editor-textCodeBlock-background: #eff1f5;
	--color-editor-textLink-activeForeground: #04a5e5;
	--color-editor-textLink-foreground: #1e66f5;
	--color-editor-textPreformat-foreground: #4c4f69;
	--color-editor-textSeparator-foreground: #8839ef;
	--color-editor-activityBar-background: #dce0e8;
	--color-editor-activityBar-foreground: #8839ef;
	--color-editor-activityBar-dropBorder: #8839ef33;
	--color-editor-activityBar-inactiveForeground: #9ca0b0;
	--color-editor-activityBar-border: #00000000;
	--color-editor-activityBarBadge-background: #8839ef;
	--color-editor-activityBarBadge-foreground: #dce0e8;
	--color-editor-activityBar-activeBorder: #00000000;
	--color-editor-activityBar-activeBackground: #00000000;
	--color-editor-activityBar-activeFocusBorder: #00000000;
	--color-editor-activityBarTop-foreground: #8839ef;
	--color-editor-activityBarTop-activeBorder: #00000000;
	--color-editor-activityBarTop-inactiveForeground: #9ca0b0;
	--color-editor-activityBarTop-dropBorder: #8839ef33;
	--color-editor-badge-background: #bcc0cc;
	--color-editor-badge-foreground: #4c4f69;
	--color-editor-breadcrumb-activeSelectionForeground: #8839ef;
	--color-editor-breadcrumb-background: #eff1f5;
	--color-editor-breadcrumb-focusForeground: #8839ef;
	--color-editor-breadcrumb-foreground: #4c4f69cc;
	--color-editor-breadcrumbPicker-background: #e6e9ef;
	--color-editor-button-background: #8839ef;
	--color-editor-button-foreground: #dce0e8;
	--color-editor-button-border: #00000000;
	--color-editor-button-separator: #00000000;
	--color-editor-button-hoverBackground: #9c5af2;
	--color-editor-button-secondaryForeground: #4c4f69;
	--color-editor-button-secondaryBackground: #acb0be;
	--color-editor-button-secondaryHoverBackground: #c0c3ce;
	--color-editor-checkbox-background: #bcc0cc;
	--color-editor-checkbox-border: #00000000;
	--color-editor-checkbox-foreground: #8839ef;
	--color-editor-dropdown-background: #e6e9ef;
	--color-editor-dropdown-listBackground: #acb0be;
	--color-editor-dropdown-border: #8839ef;
	--color-editor-dropdown-foreground: #4c4f69;
	--color-editor-debugToolBar-background: #dce0e8;
	--color-editor-debugToolBar-border: #00000000;
	--color-editor-debugExceptionWidget-background: #dce0e8;
	--color-editor-debugExceptionWidget-border: #8839ef;
	--color-editor-debugTokenExpression-number: #fe640b;
	--color-editor-debugTokenExpression-boolean: #8839ef;
	--color-editor-debugTokenExpression-string: #40a02b;
	--color-editor-debugTokenExpression-error: #d20f39;
	--color-editor-debugIcon-breakpointForeground: #d20f39;
	--color-editor-debugIcon-breakpointDisabledForeground: #d20f3999;
	--color-editor-debugIcon-breakpointUnverifiedForeground: #bf607c;
	--color-editor-debugIcon-breakpointCurrentStackframeForeground: #acb0be;
	--color-editor-debugIcon-breakpointStackframeForeground: #acb0be;
	--color-editor-debugIcon-startForeground: #40a02b;
	--color-editor-debugIcon-pauseForeground: #1e66f5;
	--color-editor-debugIcon-stopForeground: #d20f39;
	--color-editor-debugIcon-disconnectForeground: #acb0be;
	--color-editor-debugIcon-restartForeground: #179299;
	--color-editor-debugIcon-stepOverForeground: #8839ef;
	--color-editor-debugIcon-stepIntoForeground: #4c4f69;
	--color-editor-debugIcon-stepOutForeground: #4c4f69;
	--color-editor-debugIcon-continueForeground: #40a02b;
	--color-editor-debugIcon-stepBackForeground: #acb0be;
	--color-editor-debugConsole-infoForeground: #1e66f5;
	--color-editor-debugConsole-warningForeground: #fe640b;
	--color-editor-debugConsole-errorForeground: #d20f39;
	--color-editor-debugConsole-sourceForeground: #dc8a78;
	--color-editor-debugConsoleInputIcon-foreground: #4c4f69;
	--color-editor-diffEditor-border: #acb0be;
	--color-editor-diffEditor-insertedTextBackground: #40a02b1a;
	--color-editor-diffEditor-removedTextBackground: #d20f391a;
	--color-editor-diffEditor-insertedLineBackground: #40a02b26;
	--color-editor-diffEditor-removedLineBackground: #d20f3926;
	--color-editor-diffEditor-diagonalFill: #acb0be99;
	--color-editor-diffEditorOverview-insertedForeground: #40a02bcc;
	--color-editor-diffEditorOverview-removedForeground: #d20f39cc;
	--color-editor-editor-background: #eff1f5;
	--color-editor-editor-findMatchBackground: #e6adbd;
	--color-editor-editor-findMatchBorder: #d20f3933;
	--color-editor-editor-findMatchHighlightBackground: #a9daf0;
	--color-editor-editor-findMatchHighlightBorder: #04a5e533;
	--color-editor-editor-findRangeHighlightBackground: #a9daf0;
	--color-editor-editor-findRangeHighlightBorder: #04a5e533;
	--color-editor-editor-foldBackground: #04a5e540;
	--color-editor-editor-foreground: #4c4f69;
	--color-editor-editor-hoverHighlightBackground: #04a5e540;
	--color-editor-editor-lineHighlightBackground: #4c4f6912;
	--color-editor-editor-lineHighlightBorder: #00000000;
	--color-editor-editor-rangeHighlightBackground: #04a5e540;
	--color-editor-editor-rangeHighlightBorder: #00000000;
	--color-editor-editor-selectionBackground: #7c7f934d;
	--color-editor-editor-selectionHighlightBackground: #7c7f9333;
	--color-editor-editor-selectionHighlightBorder: #7c7f9333;
	--color-editor-editor-wordHighlightBackground: #7c7f9333;
	--color-editor-editor-wordHighlightStrongBackground: #1e66f526;
	--color-editor-editorBracketMatch-background: #7c7f931a;
	--color-editor-editorBracketMatch-border: #7c7f93;
	--color-editor-editorCodeLens-foreground: #8c8fa1;
	--color-editor-editorCursor-background: #eff1f5;
	--color-editor-editorCursor-foreground: #dc8a78;
	--color-editor-editorGroup-border: #acb0be;
	--color-editor-editorGroup-dropBackground: #8839ef33;
	--color-editor-editorGroup-emptyBackground: #eff1f5;
	--color-editor-editorGroupHeader-tabsBackground: #dce0e8;
	--color-editor-editorGutter-addedBackground: #40a02b;
	--color-editor-editorGutter-background: #eff1f5;
	--color-editor-editorGutter-commentRangeForeground: #ccd0da;
	--color-editor-editorGutter-commentGlyphForeground: #8839ef;
	--color-editor-editorGutter-deletedBackground: #d20f39;
	--color-editor-editorGutter-foldingControlForeground: #7c7f93;
	--color-editor-editorGutter-modifiedBackground: #df8e1d;
	--color-editor-editorHoverWidget-background: #e6e9ef;
	--color-editor-editorHoverWidget-border: #acb0be;
	--color-editor-editorHoverWidget-foreground: #4c4f69;
	--color-editor-editorIndentGuide-activeBackground: #acb0be;
	--color-editor-editorIndentGuide-background: #bcc0cc;
	--color-editor-editorInlayHint-foreground: #acb0be;
	--color-editor-editorInlayHint-background: #e6e9efbf;
	--color-editor-editorInlayHint-typeForeground: #5c5f77;
	--color-editor-editorInlayHint-typeBackground: #e6e9efbf;
	--color-editor-editorInlayHint-parameterForeground: #6c6f85;
	--color-editor-editorInlayHint-parameterBackground: #e6e9efbf;
	--color-editor-editorLineNumber-activeForeground: #8839ef;
	--color-editor-editorLineNumber-foreground: #8c8fa1;
	--color-editor-editorLink-activeForeground: #8839ef;
	--color-editor-editorMarkerNavigation-background: #e6e9ef;
	--color-editor-editorMarkerNavigationError-background: #d20f39;
	--color-editor-editorMarkerNavigationInfo-background: #1e66f5;
	--color-editor-editorMarkerNavigationWarning-background: #fe640b;
	--color-editor-editorOverviewRuler-background: #e6e9ef;
	--color-editor-editorOverviewRuler-border: #4c4f6912;
	--color-editor-editorOverviewRuler-modifiedForeground: #df8e1d;
	--color-editor-editorRuler-foreground: #acb0be;
	--color-editor-editor-stackFrameHighlightBackground: #df8e1d26;
	--color-editor-editor-focusedStackFrameHighlightBackground: #40a02b26;
	--color-editor-editorStickyScrollHover-background: #ccd0da;
	--color-editor-editorSuggestWidget-background: #e6e9ef;
	--color-editor-editorSuggestWidget-border: #acb0be;
	--color-editor-editorSuggestWidget-foreground: #4c4f69;
	--color-editor-editorSuggestWidget-highlightForeground: #8839ef;
	--color-editor-editorSuggestWidget-selectedBackground: #ccd0da;
	--color-editor-editorWhitespace-foreground: #7c7f9366;
	--color-editor-editorWidget-background: #e6e9ef;
	--color-editor-editorWidget-foreground: #4c4f69;
	--color-editor-editorWidget-resizeBorder: #acb0be;
	--color-editor-editorLightBulb-foreground: #df8e1d;
	--color-editor-editorError-foreground: #d20f39;
	--color-editor-editorError-border: #00000000;
	--color-editor-editorError-background: #00000000;
	--color-editor-editorWarning-foreground: #fe640b;
	--color-editor-editorWarning-border: #00000000;
	--color-editor-editorWarning-background: #00000000;
	--color-editor-editorInfo-foreground: #1e66f5;
	--color-editor-editorInfo-border: #00000000;
	--color-editor-editorInfo-background: #00000000;
	--color-editor-problemsErrorIcon-foreground: #d20f39;
	--color-editor-problemsInfoIcon-foreground: #1e66f5;
	--color-editor-problemsWarningIcon-foreground: #fe640b;
	--color-editor-extensionButton-prominentForeground: #dce0e8;
	--color-editor-extensionButton-prominentBackground: #8839ef;
	--color-editor-extensionButton-separator: #eff1f5;
	--color-editor-extensionButton-prominentHoverBackground: #9c5af2;
	--color-editor-extensionBadge-remoteBackground: #1e66f5;
	--color-editor-extensionBadge-remoteForeground: #dce0e8;
	--color-editor-extensionIcon-starForeground: #df8e1d;
	--color-editor-extensionIcon-verifiedForeground: #40a02b;
	--color-editor-extensionIcon-preReleaseForeground: #acb0be;
	--color-editor-extensionIcon-sponsorForeground: #ea76cb;
	--color-editor-gitDecoration-addedResourceForeground: #40a02b;
	--color-editor-gitDecoration-conflictingResourceForeground: #8839ef;
	--color-editor-gitDecoration-deletedResourceForeground: #d20f39;
	--color-editor-gitDecoration-ignoredResourceForeground: #9ca0b0;
	--color-editor-gitDecoration-modifiedResourceForeground: #df8e1d;
	--color-editor-gitDecoration-stageDeletedResourceForeground: #d20f39;
	--color-editor-gitDecoration-stageModifiedResourceForeground: #df8e1d;
	--color-editor-gitDecoration-submoduleResourceForeground: #1e66f5;
	--color-editor-gitDecoration-untrackedResourceForeground: #40a02b;
	--color-editor-input-background: #ccd0da;
	--color-editor-input-border: #00000000;
	--color-editor-input-foreground: #4c4f69;
	--color-editor-input-placeholderForeground: #4c4f6973;
	--color-editor-inputOption-activeBackground: #acb0be;
	--color-editor-inputOption-activeBorder: #8839ef;
	--color-editor-inputOption-activeForeground: #4c4f69;
	--color-editor-inputValidation-errorBackground: #d20f39;
	--color-editor-inputValidation-errorBorder: #dce0e833;
	--color-editor-inputValidation-errorForeground: #dce0e8;
	--color-editor-inputValidation-infoBackground: #1e66f5;
	--color-editor-inputValidation-infoBorder: #dce0e833;
	--color-editor-inputValidation-infoForeground: #dce0e8;
	--color-editor-inputValidation-warningBackground: #fe640b;
	--color-editor-inputValidation-warningBorder: #dce0e833;
	--color-editor-inputValidation-warningForeground: #dce0e8;
	--color-editor-list-activeSelectionBackground: #ccd0da;
	--color-editor-list-activeSelectionForeground: #4c4f69;
	--color-editor-list-dropBackground: #8839ef33;
	--color-editor-list-focusBackground: #ccd0da;
	--color-editor-list-focusForeground: #4c4f69;
	--color-editor-list-focusOutline: #00000000;
	--color-editor-list-highlightForeground: #8839ef;
	--color-editor-list-hoverBackground: #ccd0da80;
	--color-editor-list-hoverForeground: #4c4f69;
	--color-editor-list-inactiveSelectionBackground: #ccd0da;
	--color-editor-list-inactiveSelectionForeground: #4c4f69;
	--color-editor-list-warningForeground: #fe640b;
	--color-editor-listFilterWidget-background: #bcc0cc;
	--color-editor-listFilterWidget-noMatchesOutline: #d20f39;
	--color-editor-listFilterWidget-outline: #00000000;
	--color-editor-tree-indentGuidesStroke: #7c7f93;
	--color-editor-tree-inactiveIndentGuidesStroke: #bcc0cc;
	--color-editor-menu-background: #eff1f5;
	--color-editor-menu-border: #eff1f580;
	--color-editor-menu-foreground: #4c4f69;
	--color-editor-menu-selectionBackground: #acb0be;
	--color-editor-menu-selectionBorder: #00000000;
	--color-editor-menu-selectionForeground: #4c4f69;
	--color-editor-menu-separatorBackground: #acb0be;
	--color-editor-menubar-selectionBackground: #bcc0cc;
	--color-editor-menubar-selectionForeground: #4c4f69;
	--color-editor-merge-commonContentBackground: #bcc0cc;
	--color-editor-merge-commonHeaderBackground: #acb0be;
	--color-editor-merge-currentContentBackground: #40a02b33;
	--color-editor-merge-currentHeaderBackground: #40a02b66;
	--color-editor-merge-incomingContentBackground: #1e66f533;
	--color-editor-merge-incomingHeaderBackground: #1e66f566;
	--color-editor-minimap-background: #e6e9ef80;
	--color-editor-minimap-findMatchHighlight: #04a5e54d;
	--color-editor-minimap-selectionHighlight: #acb0bebf;
	--color-editor-minimap-selectionOccurrenceHighlight: #acb0bebf;
	--color-editor-minimap-warningHighlight: #fe640bbf;
	--color-editor-minimap-errorHighlight: #d20f39bf;
	--color-editor-minimapSlider-background: #8839ef33;
	--color-editor-minimapSlider-hoverBackground: #8839ef66;
	--color-editor-minimapSlider-activeBackground: #8839ef99;
	--color-editor-minimapGutter-addedBackground: #40a02bbf;
	--color-editor-minimapGutter-deletedBackground: #d20f39bf;
	--color-editor-minimapGutter-modifiedBackground: #df8e1dbf;
	--color-editor-notificationCenter-border: #8839ef;
	--color-editor-notificationCenterHeader-foreground: #4c4f69;
	--color-editor-notificationCenterHeader-background: #e6e9ef;
	--color-editor-notificationToast-border: #8839ef;
	--color-editor-notifications-foreground: #4c4f69;
	--color-editor-notifications-background: #e6e9ef;
	--color-editor-notifications-border: #8839ef;
	--color-editor-notificationLink-foreground: #1e66f5;
	--color-editor-notificationsErrorIcon-foreground: #d20f39;
	--color-editor-notificationsWarningIcon-foreground: #fe640b;
	--color-editor-notificationsInfoIcon-foreground: #1e66f5;
	--color-editor-panel-background: #eff1f5;
	--color-editor-panel-border: #acb0be;
	--color-editor-panelSection-border: #acb0be;
	--color-editor-panelSection-dropBackground: #8839ef33;
	--color-editor-panelTitle-activeBorder: #8839ef;
	--color-editor-panelTitle-activeForeground: #4c4f69;
	--color-editor-panelTitle-inactiveForeground: #6c6f85;
	--color-editor-peekView-border: #8839ef;
	--color-editor-peekViewEditor-background: #e6e9ef;
	--color-editor-peekViewEditorGutter-background: #e6e9ef;
	--color-editor-peekViewEditor-matchHighlightBackground: #04a5e54d;
	--color-editor-peekViewEditor-matchHighligzhtBorder: #00000000;
	--color-editor-peekViewResult-background: #e6e9ef;
	--color-editor-peekViewResult-fileForeground: #4c4f69;
	--color-editor-peekViewResult-lineForeground: #4c4f69;
	--color-editor-peekViewResult-matchHighlightBackground: #04a5e54d;
	--color-editor-peekViewResult-selectionBackground: #ccd0da;
	--color-editor-peekViewResult-selectionForeground: #4c4f69;
	--color-editor-peekViewTitle-background: #eff1f5;
	--color-editor-peekViewTitleDescription-foreground: #5c5f77b3;
	--color-editor-peekViewTitleLabel-foreground: #4c4f69;
	--color-editor-pickerGroup-border: #8839ef;
	--color-editor-pickerGroup-foreground: #8839ef;
	--color-editor-progressBar-background: #8839ef;
	--color-editor-scrollbar-shadow: #dce0e8;
	--color-editor-scrollbarSlider-activeBackground: #ccd0da66;
	--color-editor-scrollbarSlider-background: #acb0be80;
	--color-editor-scrollbarSlider-hoverBackground: #9ca0b0;
	--color-editor-settings-focusedRowBackground: #acb0be33;
	--color-editor-settings-headerForeground: #4c4f69;
	--color-editor-settings-modifiedItemIndicator: #8839ef;
	--color-editor-settings-dropdownBackground: #bcc0cc;
	--color-editor-settings-dropdownListBorder: #00000000;
	--color-editor-settings-textInputBackground: #bcc0cc;
	--color-editor-settings-textInputBorder: #00000000;
	--color-editor-settings-numberInputBackground: #bcc0cc;
	--color-editor-settings-numberInputBorder: #00000000;
	--color-editor-sideBar-background: #e6e9ef;
	--color-editor-sideBar-dropBackground: #8839ef33;
	--color-editor-sideBar-foreground: #4c4f69;
	--color-editor-sideBar-border: #00000000;
	--color-editor-sideBarSectionHeader-background: #e6e9ef;
	--color-editor-sideBarSectionHeader-foreground: #4c4f69;
	--color-editor-sideBarTitle-foreground: #8839ef;
	--color-editor-banner-background: #bcc0cc;
	--color-editor-banner-foreground: #4c4f69;
	--color-editor-banner-iconForeground: #4c4f69;
	--color-editor-statusBar-background: #dce0e8;
	--color-editor-statusBar-foreground: #4c4f69;
	--color-editor-statusBar-border: #00000000;
	--color-editor-statusBar-noFolderBackground: #dce0e8;
	--color-editor-statusBar-noFolderForeground: #4c4f69;
	--color-editor-statusBar-noFolderBorder: #00000000;
	--color-editor-statusBar-debuggingBackground: #fe640b;
	--color-editor-statusBar-debuggingForeground: #dce0e8;
	--color-editor-statusBar-debuggingBorder: #00000000;
	--color-editor-statusBarItem-remoteBackground: #1e66f5;
	--color-editor-statusBarItem-remoteForeground: #dce0e8;
	--color-editor-statusBarItem-activeBackground: #acb0be66;
	--color-editor-statusBarItem-hoverBackground: #acb0be33;
	--color-editor-statusBarItem-prominentForeground: #8839ef;
	--color-editor-statusBarItem-prominentBackground: #00000000;
	--color-editor-statusBarItem-prominentHoverBackground: #acb0be33;
	--color-editor-statusBarItem-errorForeground: #d20f39;
	--color-editor-statusBarItem-errorBackground: #00000000;
	--color-editor-statusBarItem-warningForeground: #fe640b;
	--color-editor-statusBarItem-warningBackground: #00000000;
	--color-editor-commandCenter-foreground: #5c5f77;
	--color-editor-commandCenter-inactiveForeground: #5c5f77;
	--color-editor-commandCenter-activeForeground: #8839ef;
	--color-editor-commandCenter-background: #e6e9ef;
	--color-editor-commandCenter-activeBackground: #acb0be33;
	--color-editor-commandCenter-border: #00000000;
	--color-editor-commandCenter-inactiveBorder: #00000000;
	--color-editor-commandCenter-activeBorder: #8839ef;
	--color-editor-tab-activeBackground: #eff1f5;
	--color-editor-tab-activeBorder: #00000000;
	--color-editor-tab-activeBorderTop: #8839ef;
	--color-editor-tab-activeForeground: #8839ef;
	--color-editor-tab-activeModifiedBorder: #df8e1d;
	--color-editor-tab-border: #e6e9ef;
	--color-editor-tab-hoverBackground: #ffffff;
	--color-editor-tab-hoverBorder: #00000000;
	--color-editor-tab-hoverForeground: #8839ef;
	--color-editor-tab-inactiveBackground: #e6e9ef;
	--color-editor-tab-inactiveForeground: #9ca0b0;
	--color-editor-tab-inactiveModifiedBorder: #df8e1d4d;
	--color-editor-tab-lastPinnedBorder: #8839ef;
	--color-editor-tab-unfocusedActiveBackground: #e6e9ef;
	--color-editor-tab-unfocusedActiveBorder: #00000000;
	--color-editor-tab-unfocusedActiveBorderTop: #8839ef4d;
	--color-editor-tab-unfocusedInactiveBackground: #d6dbe5;
	--color-editor-terminal-foreground: #4c4f69;
	--color-editor-terminal-ansiBlack: #5c5f77;
	--color-editor-terminal-ansiRed: #d20f39;
	--color-editor-terminal-ansiGreen: #40a02b;
	--color-editor-terminal-ansiYellow: #df8e1d;
	--color-editor-terminal-ansiBlue: #1e66f5;
	--color-editor-terminal-ansiMagenta: #ea76cb;
	--color-editor-terminal-ansiCyan: #179299;
	--color-editor-terminal-ansiWhite: #acb0be;
	--color-editor-terminal-ansiBrightBlack: #6c6f85;
	--color-editor-terminal-ansiBrightRed: #de293e;
	--color-editor-terminal-ansiBrightGreen: #49af3d;
	--color-editor-terminal-ansiBrightYellow: #eea02d;
	--color-editor-terminal-ansiBrightBlue: #456eff;
	--color-editor-terminal-ansiBrightMagenta: #fe85d8;
	--color-editor-terminal-ansiBrightCyan: #2d9fa8;
	--color-editor-terminal-ansiBrightWhite: #bcc0cc;
	--color-editor-terminal-selectionBackground: #acb0be;
	--color-editor-terminal-inactiveSelectionBackground: #acb0be80;
	--color-editor-terminalCursor-background: #eff1f5;
	--color-editor-terminalCursor-foreground: #dc8a78;
	--color-editor-terminal-border: #acb0be;
	--color-editor-terminal-dropBackground: #8839ef33;
	--color-editor-terminal-tab-activeBorder: #8839ef;
	--color-editor-terminalCommandDecoration-defaultBackground: #acb0be;
	--color-editor-terminalCommandDecoration-successBackground: #40a02b;
	--color-editor-terminalCommandDecoration-errorBackground: #d20f39;
	--color-editor-titleBar-activeBackground: #dce0e8;
	--color-editor-titleBar-activeForeground: #4c4f69;
	--color-editor-titleBar-inactiveBackground: #dce0e8;
	--color-editor-titleBar-inactiveForeground: #4c4f6980;
	--color-editor-titleBar-border: #00000000;
	--color-editor-welcomePage-tileBackground: #e6e9ef;
	--color-editor-welcomePage-progress-background: #dce0e8;
	--color-editor-welcomePage-progress-foreground: #8839ef;
	--color-editor-walkThrough-embeddedEditorBackground: #eff1f54d;
	--color-editor-symbolIcon-textForeground: #4c4f69;
	--color-editor-symbolIcon-arrayForeground: #fe640b;
	--color-editor-symbolIcon-booleanForeground: #8839ef;
	--color-editor-symbolIcon-classForeground: #df8e1d;
	--color-editor-symbolIcon-colorForeground: #ea76cb;
	--color-editor-symbolIcon-constantForeground: #fe640b;
	--color-editor-symbolIcon-constructorForeground: #7287fd;
	--color-editor-symbolIcon-enumeratorForeground: #df8e1d;
	--color-editor-symbolIcon-enumeratorMemberForeground: #df8e1d;
	--color-editor-symbolIcon-eventForeground: #ea76cb;
	--color-editor-symbolIcon-fieldForeground: #4c4f69;
	--color-editor-symbolIcon-fileForeground: #8839ef;
	--color-editor-symbolIcon-folderForeground: #8839ef;
	--color-editor-symbolIcon-functionForeground: #1e66f5;
	--color-editor-symbolIcon-interfaceForeground: #df8e1d;
	--color-editor-symbolIcon-keyForeground: #179299;
	--color-editor-symbolIcon-keywordForeground: #8839ef;
	--color-editor-symbolIcon-methodForeground: #1e66f5;
	--color-editor-symbolIcon-moduleForeground: #4c4f69;
	--color-editor-symbolIcon-namespaceForeground: #df8e1d;
	--color-editor-symbolIcon-nullForeground: #e64553;
	--color-editor-symbolIcon-numberForeground: #fe640b;
	--color-editor-symbolIcon-objectForeground: #df8e1d;
	--color-editor-symbolIcon-operatorForeground: #179299;
	--color-editor-symbolIcon-packageForeground: #dd7878;
	--color-editor-symbolIcon-propertyForeground: #e64553;
	--color-editor-symbolIcon-referenceForeground: #df8e1d;
	--color-editor-symbolIcon-snippetForeground: #dd7878;
	--color-editor-symbolIcon-stringForeground: #40a02b;
	--color-editor-symbolIcon-structForeground: #179299;
	--color-editor-symbolIcon-typeParameterForeground: #e64553;
	--color-editor-symbolIcon-unitForeground: #4c4f69;
	--color-editor-symbolIcon-variableForeground: #4c4f69;
	--color-editor-charts-foreground: #4c4f69;
	--color-editor-charts-lines: #5c5f77;
	--color-editor-charts-red: #d20f39;
	--color-editor-charts-blue: #1e66f5;
	--color-editor-charts-yellow: #df8e1d;
	--color-editor-charts-orange: #fe640b;
	--color-editor-charts-green: #40a02b;
	--color-editor-charts-purple: #8839ef;
	--color-editor-errorLens-errorBackground: #d20f3926;
	--color-editor-errorLens-errorBackgroundLight: #d20f3926;
	--color-editor-errorLens-errorForeground: #d20f39;
	--color-editor-errorLens-errorForegroundLight: #d20f39;
	--color-editor-errorLens-errorMessageBackground: #d20f3926;
	--color-editor-errorLens-hintBackground: #40a02b26;
	--color-editor-errorLens-hintBackgroundLight: #40a02b26;
	--color-editor-errorLens-hintForeground: #40a02b;
	--color-editor-errorLens-hintForegroundLight: #40a02b;
	--color-editor-errorLens-hintMessageBackground: #40a02b26;
	--color-editor-errorLens-infoBackground: #1e66f526;
	--color-editor-errorLens-infoBackgroundLight: #1e66f526;
	--color-editor-errorLens-infoForeground: #1e66f5;
	--color-editor-errorLens-infoForegroundLight: #1e66f5;
	--color-editor-errorLens-infoMessageBackground: #1e66f526;
	--color-editor-errorLens-statusBarErrorForeground: #d20f39;
	--color-editor-errorLens-statusBarHintForeground: #40a02b;
	--color-editor-errorLens-statusBarIconErrorForeground: #d20f39;
	--color-editor-errorLens-statusBarIconWarningForeground: #fe640b;
	--color-editor-errorLens-statusBarInfoForeground: #1e66f5;
	--color-editor-errorLens-statusBarWarningForeground: #fe640b;
	--color-editor-errorLens-warningBackground: #fe640b26;
	--color-editor-errorLens-warningBackgroundLight: #fe640b26;
	--color-editor-errorLens-warningForeground: #fe640b;
	--color-editor-errorLens-warningForegroundLight: #fe640b;
	--color-editor-errorLens-warningMessageBackground: #fe640b26;
	--color-editor-issues-closed: #8839ef;
	--color-editor-issues-newIssueDecoration: #dc8a78;
	--color-editor-issues-open: #40a02b;
	--color-editor-pullRequests-closed: #d20f39;
	--color-editor-pullRequests-draft: #7c7f93;
	--color-editor-pullRequests-merged: #8839ef;
	--color-editor-pullRequests-notification: #4c4f69;
	--color-editor-pullRequests-open: #40a02b;
	--color-editor-gitlens-gutterBackgroundColor: #ccd0da4d;
	--color-editor-gitlens-gutterForegroundColor: #4c4f69;
	--color-editor-gitlens-gutterUncommittedForegroundColor: #8839ef;
	--color-editor-gitlens-trailingLineBackgroundColor: #00000000;
	--color-editor-gitlens-trailingLineForegroundColor: #4c4f694d;
	--color-editor-gitlens-lineHighlightBackgroundColor: #8839ef26;
	--color-editor-gitlens-lineHighlightOverviewRulerColor: #8839efcc;
	--color-editor-gitlens-openAutolinkedIssueIconColor: #40a02b;
	--color-editor-gitlens-closedAutolinkedIssueIconColor: #8839ef;
	--color-editor-gitlens-closedPullRequestIconColor: #d20f39;
	--color-editor-gitlens-openPullRequestIconColor: #40a02b;
	--color-editor-gitlens-mergedPullRequestIconColor: #8839ef;
	--color-editor-gitlens-unpublishedChangesIconColor: #40a02b;
	--color-editor-gitlens-unpublishedCommitIconColor: #40a02b;
	--color-editor-gitlens-unpulledChangesIconColor: #fe640b;
	--color-editor-gitlens-decorations-branchAheadForegroundColor: #40a02b;
	--color-editor-gitlens-decorations-branchBehindForegroundColor: #fe640b;
	--color-editor-gitlens-decorations-branchDivergedForegroundColor: #df8e1d;
	--color-editor-gitlens-decorations-branchUnpublishedForegroundColor: #40a02b;
	--color-editor-gitlens-decorations-branchMissingUpstreamForegroundColor: #fe640b;
	--color-editor-gitlens-decorations-statusMergingOrRebasingConflictForegroundColor: #e64553;
	--color-editor-gitlens-decorations-statusMergingOrRebasingForegroundColor: #df8e1d;
	--color-editor-gitlens-decorations-workspaceRepoMissingForegroundColor: #6c6f85;
	--color-editor-gitlens-decorations-workspaceCurrentForegroundColor: #8839ef;
	--color-editor-gitlens-decorations-workspaceRepoOpenForegroundColor: #8839ef;
	--color-editor-gitlens-decorations-worktreeHasUncommittedChangesForegroundColor: #fe640b;
	--color-editor-gitlens-decorations-worktreeMissingForegroundColor: #e64553;
	--color-editor-gitlens-graphLane1Color: #8839ef;
	--color-editor-gitlens-graphLane2Color: #df8e1d;
	--color-editor-gitlens-graphLane3Color: #1e66f5;
	--color-editor-gitlens-graphLane4Color: #dd7878;
	--color-editor-gitlens-graphLane5Color: #40a02b;
	--color-editor-gitlens-graphLane6Color: #7287fd;
	--color-editor-gitlens-graphLane7Color: #dc8a78;
	--color-editor-gitlens-graphLane8Color: #d20f39;
	--color-editor-gitlens-graphLane9Color: #179299;
	--color-editor-gitlens-graphLane10Color: #ea76cb;
	--color-editor-gitlens-graphChangesColumnAddedColor: #40a02b;
	--color-editor-gitlens-graphChangesColumnDeletedColor: #d20f39;
	--color-editor-gitlens-graphMinimapMarkerHeadColor: #40a02b;
	--color-editor-gitlens-graphScrollMarkerHeadColor: #40a02b;
	--color-editor-gitlens-graphMinimapMarkerUpstreamColor: #388c26;
	--color-editor-gitlens-graphScrollMarkerUpstreamColor: #388c26;
	--color-editor-gitlens-graphMinimapMarkerHighlightsColor: #df8e1d;
	--color-editor-gitlens-graphScrollMarkerHighlightsColor: #df8e1d;
	--color-editor-gitlens-graphMinimapMarkerLocalBranchesColor: #1e66f5;
	--color-editor-gitlens-graphScrollMarkerLocalBranchesColor: #1e66f5;
	--color-editor-gitlens-graphMinimapMarkerRemoteBranchesColor: #0b57ef;
	--color-editor-gitlens-graphScrollMarkerRemoteBranchesColor: #0b57ef;
	--color-editor-gitlens-graphMinimapMarkerStashesColor: #8839ef;
	--color-editor-gitlens-graphScrollMarkerStashesColor: #8839ef;
	--color-editor-gitlens-graphMinimapMarkerTagsColor: #dd7878;
	--color-editor-gitlens-graphScrollMarkerTagsColor: #dd7878;
	--color-editor-editorBracketHighlight-foreground1: #d20f39;
	--color-editor-editorBracketHighlight-foreground2: #fe640b;
	--color-editor-editorBracketHighlight-foreground3: #df8e1d;
	--color-editor-editorBracketHighlight-foreground4: #40a02b;
	--color-editor-editorBracketHighlight-foreground5: #209fb5;
	--color-editor-editorBracketHighlight-foreground6: #8839ef;
	--color-editor-editorBracketHighlight-unexpectedBracket-foreground: #e64553;
	--color-editor-button-secondaryBorder: #8839ef;
	--color-editor-table-headerBackground: #ccd0da;
	--color-editor-table-headerForeground: #4c4f69;
	--color-editor-list-focusAndSelectionBackground: #bcc0cc;
}
