---
import logo from "~assets/logo.svg";
import { SITE } from "~config";
---

<header class="sticky top-0 left-0 w-full bg-white dark:bg-zinc-900 bg-opacity-50 dark:bg-opacity-50 backdrop-blur-sm">
  <div class="mx-auto flex h-16 max-w-6xl items-center justify-between px-4">
    <img src={logo.src} width={logo.width} height={logo.height} alt={SITE.TITLE} />
  </div>
</header>