---
import '@fontsource/ibm-plex-mono';
import '@fontsource/ibm-plex-sans-jp/400.css'
import '@fontsource/ibm-plex-sans-jp/500.css'
import '@fontsource/ibm-plex-sans-jp/700.css'
import TheFooter from '~/components/TheFooter.astro';
import TheMenu from '~/components/TheMenu.astro';

type Props = {
  title: string;
};
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja" class="h-full">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body class="font-body antialiased text-sumi-900 h-full bg-white">
  <div class="h-full flex flex-col gap-6">
    <div class="px-4 py-6">
      <div class="max-w-5xl mx-auto">
        <div class="flex gap-8 flex-col-reverse md:flex-row">
          <div class="flex-shrink-0 md:w-64">
            <TheMenu />
          </div>
          <main id="main" class="w-full">
            <slot />
          </main>
        </div>
      </div>
    </div>
    <div class="mt-auto">
      <TheFooter/>
    </div>
  </div>
</body>
</html>