---
import '@fontsource/ibm-plex-mono'
import '@fontsource/ibm-plex-sans-jp'

type Props = {
  title: string;
};
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body class="font-body antialiased text-sumi-900">
  <slot />
</body>
</html>